In [1]:
import sys
print(sys.executable)

/home/alvi/anaconda3/envs/clinical_ml/bin/python

In [2]:
import pandas as pd

df = pd.read_csv("clinical_chemical_icumortality_dataset.csv")
df.head()

,age,gender,weight,glucose,creatinine,hemoglobin,wbc,platelets,sodium,potassium,lactate,icu_mortality
0,69,M,82.220362,116.468702,1.428110,11.582726,15.352055,268.761415,141.319238,3.767128,2.502466,1
1,32,F,61.932182,114.003506,1.473727,11.437336,9.833048,125.311090,138.406111,4.307099,4.305142,0
2,89,M,71.914288,85.984251,0.438373,11.502507,11.919752,403.106250,133.369114,3.990643,2.742486,1
3,78,F,100.890129,60.934661,1.296080,10.027296,7.336317,224.794827,135.414357,4.748949,NaN,0
4,38,M,83.081105,80.020095,0.609677,9.319774,5.014008,342.817396,139.909888,3.588819,3.396818,1

In [3]:
df.shape

(20000, 12)

In [4]:
df.columns

Index(['age', 'gender', 'weight', 'glucose', 'creatinine', 'hemoglobin', 'wbc',
       'platelets', 'sodium', 'potassium', 'lactate', 'icu_mortality'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            20000 non-null  int64
 1   gender         20000 non-null  object
 2   weight         20000 non-null  float64
 3   glucose        17979 non-null  float64
 4   creatinine     17998 non-null  float64
 5   hemoglobin     17945 non-null  float64
 6   wbc            17965 non-null  float64
 7   platelets      18010 non-null  float64
 8   sodium         18014 non-null  float64
 9   potassium      18039 non-null  float64
 10  lactate        18018 non-null  float64
 11  icu_mortality  20000 non-null  int64
dtypes: float64(9), int64(2), object(1)
memory usage: 1.8+ MB

In [6]:
df.isnull().sum().sort_values(ascending=False)

hemoglobin       2055
wbc              2035
glucose          2021
creatinine       2002
platelets        1990
sodium           1986
lactate          1982
potassium        1961
age                 0
gender              0
weight              0
icu_mortality       0
dtype: int64

In [8]:
df["icu_mortality"].value_counts()
df["icu_mortality"].value_counts(normalize=True)

icu_mortality
1    0.5742
0    0.4258
Name: proportion, dtype: float64

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,20000.0,53.467450,20.773984,18.000000,35.000000,53.000000,71.000000,89.000000
weight,20000.0,70.125136,14.697635,40.000000,59.992417,69.933580,79.987205,131.491755
glucose,17979.0,111.171727,32.772354,60.000000,86.565765,109.708889,133.554647,238.066006
creatinine,17998.0,1.123958,0.555419,0.300000,0.689929,1.097403,1.504781,3.416053
hemoglobin,17945.0,13.500938,2.494694,5.000000,11.801222,13.486027,15.190232,20.000000
wbc,17965.0,8.044942,3.840977,1.000000,5.297630,7.979027,10.667411,23.820460
platelets,18010.0,252.794961,98.485308,20.000000,185.672003,251.974415,318.756585,600.926789
sodium,18014.0,137.947098,4.972473,117.827831,134.561679,137.911694,141.316864,157.926097
potassium,18039.0,4.206105,0.696716,2.000000,3.735955,4.207375,4.672947,7.000000
lactate,18018.0,1.894328,1.058516,0.500000,1.006078,1.822652,2.622126,6.766805
icu_mortality,20000.0,0.574200,0.494476,0.000000,0.000000,1.000000,1.000000,1.000000

In [10]:

df.select_dtypes(include="object").columns

Index(['gender'], dtype='object')

In [11]:
lab_cols = ['glucose','creatinine','hemoglobin','wbc','platelets','sodium','potassium','lactate']

for col in lab_cols:
    df[col + "_measured"] = df[col].notnull().astype(int)

In [12]:
for col in lab_cols:
    df[col] = df[col].fillna(df[col].median())

In [13]:
df = pd.get_dummies(df, columns=["gender"], drop_first=True)

In [15]:
X = df.drop("icu_mortality", axis=1)
y = df["icu_mortality"]

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    stratify=y,
    random_state=42
)

In [17]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [18]:
df.head()

,age,weight,glucose,creatinine,hemoglobin,wbc,platelets,sodium,potassium,lactate,icu_mortality,glucose_measured,creatinine_measured,hemoglobin_measured,wbc_measured,platelets_measured,sodium_measured,potassium_measured,lactate_measured,gender_M
0,69,82.220362,116.468702,1.428110,11.582726,15.352055,268.761415,141.319238,3.767128,2.502466,1,1,1,1,1,1,1,1,1,True
1,32,61.932182,114.003506,1.473727,11.437336,9.833048,125.311090,138.406111,4.307099,4.305142,0,1,1,1,1,1,1,1,1,False
2,89,71.914288,85.984251,0.438373,11.502507,11.919752,403.106250,133.369114,3.990643,2.742486,1,1,1,1,1,1,1,1,1,True
3,78,100.890129,60.934661,1.296080,10.027296,7.336317,224.794827,135.414357,4.748949,1.822652,0,1,1,1,1,1,1,1,0,False
4,38,83.081105,80.020095,0.609677,9.319774,5.014008,342.817396,139.909888,3.588819,3.396818,1,1,1,1,1,1,1,1,1,True

In [19]:

bool_cols = df.select_dtypes(include='bool').columns

for col in bool_cols:
    df[col] = df[col].astype(int)

In [20]:
df.head()

,age,weight,glucose,creatinine,hemoglobin,wbc,platelets,sodium,potassium,lactate,icu_mortality,glucose_measured,creatinine_measured,hemoglobin_measured,wbc_measured,platelets_measured,sodium_measured,potassium_measured,lactate_measured,gender_M
0,69,82.220362,116.468702,1.428110,11.582726,15.352055,268.761415,141.319238,3.767128,2.502466,1,1,1,1,1,1,1,1,1,1
1,32,61.932182,114.003506,1.473727,11.437336,9.833048,125.311090,138.406111,4.307099,4.305142,0,1,1,1,1,1,1,1,1,0
2,89,71.914288,85.984251,0.438373,11.502507,11.919752,403.106250,133.369114,3.990643,2.742486,1,1,1,1,1,1,1,1,1,1
3,78,100.890129,60.934661,1.296080,10.027296,7.336317,224.794827,135.414357,4.748949,1.822652,0,1,1,1,1,1,1,1,0,0
4,38,83.081105,80.020095,0.609677,9.319774,5.014008,342.817396,139.909888,3.588819,3.396818,1,1,1,1,1,1,1,1,1,1

In [21]:
df.isnull().sum()

age                    0
weight                 0
glucose                0
creatinine             0
hemoglobin             0
wbc                    0
platelets              0
sodium                 0
potassium              0
lactate                0
icu_mortality          0
glucose_measured       0
creatinine_measured    0
hemoglobin_measured    0
wbc_measured           0
platelets_measured     0
sodium_measured        0
potassium_measured     0
lactate_measured       0
gender_M               0
dtype: int64

In [22]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,20000.0,53.467450,20.773984,18.000000,35.000000,53.000000,71.000000,89.000000
weight,20000.0,70.125136,14.697635,40.000000,59.992417,69.933580,79.987205,131.491755
glucose,20000.0,111.023907,31.075484,60.000000,89.382315,109.708889,130.706853,238.066006
creatinine,20000.0,1.121300,0.526946,0.300000,0.740962,1.097403,1.452202,3.416053
hemoglobin,20000.0,13.499406,2.363054,5.000000,12.033516,13.486027,14.950611,20.000000
wbc,20000.0,8.038235,3.640370,1.000000,5.658602,7.979027,10.327085,23.820460
platelets,20000.0,252.713317,93.457381,20.000000,194.095855,251.974415,310.954631,600.926789
sodium,20000.0,137.943582,4.719135,117.827831,134.968449,137.911694,140.890978,157.926097
potassium,20000.0,4.206230,0.661677,2.000000,3.788375,4.207375,4.615968,7.000000
lactate,20000.0,1.887225,1.004924,0.500000,1.103585,1.822652,2.525648,6.766805
icu_mortality,20000.0,0.574200,0.494476,0.000000,0.000000,1.000000,1.000000,1.000000
glucose_measured,20000.0,0.898950,0.301402,0.000000,1.000000,1.000000,1.000000,1.000000
creatinine_measured,20000.0,0.899900,0.300141,0.000000,1.000000,1.000000,1.000000,1.000000
hemoglobin_measured,20000.0,0.897250,0.303640,0.000000,1.000000,1.000000,1.000000,1.000000
wbc_measured,20000.0,0.898250,0.302327,0.000000,1.000000,1.000000,1.000000,1.000000
platelets_measured,20000.0,0.900500,0.299340,0.000000,1.000000,1.000000,1.000000,1.000000
sodium_measured,20000.0,0.900700,0.299072,0.000000,1.000000,1.000000,1.000000,1.000000
potassium_measured,20000.0,0.901950,0.297390,0.000000,1.000000,1.000000,1.000000,1.000000
lactate_measured,20000.0,0.900900,0.298804,0.000000,1.000000,1.000000,1.000000,1.000000
gender_M,20000.0,0.508550,0.499939,0.000000,0.000000,1.000000,1.000000,1.000000

In [23]:
X = df.drop("icu_mortality", axis=1)
y = df["icu_mortality"]

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    stratify=y,
    random_state=42
)

In [24]:
y_train.value_counts(normalize=True)
y_test.value_counts(normalize=True)

icu_mortality
1    0.57425
0    0.42575
Name: proportion, dtype: float64

In [25]:
print("TRAIN:\n", y_train.value_counts(normalize=True))
print("\nTEST:\n", y_test.value_counts(normalize=True))

TRAIN:
 icu_mortality
1    0.574187
0    0.425812
Name: proportion, dtype: float64

TEST:
 icu_mortality
1    0.57425
0    0.42575
Name: proportion, dtype: float64

In [26]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

num_features = ['age','weight','glucose','creatinine','hemoglobin','wbc','platelets',
                'sodium','potassium','lactate']

X_train_scaled = X_train.copy()
X_test_scaled = X_test.copy()

X_train_scaled[num_features] = scaler.fit_transform(X_train[num_features])
X_test_scaled[num_features] = scaler.transform(X_test[num_features])

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score


lr = LogisticRegression(max_iter=1000, random_state=42)

lr.fit(X_train_scaled, y_train)


y_pred = lr.predict(X_test_scaled)
y_proba = lr.predict_proba(X_test_scaled)[:,1]

In [28]:

print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))
print("\nROC-AUC:", roc_auc_score(y_test, y_proba))

Confusion Matrix:
 [[ 853  850]
 [ 549 1748]]

Classification Report:
               precision    recall  f1-score   support

           0       0.61      0.50      0.55      1703
           1       0.67      0.76      0.71      2297

    accuracy                           0.65      4000
   macro avg       0.64      0.63      0.63      4000
weighted avg       0.65      0.65      0.64      4000


ROC-AUC: 0.6951516581535159

In [30]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score


rf = RandomForestClassifier(
    n_estimators=200,
    max_depth=10,
    random_state=42,
    class_weight='balanced'  # important for medical imbalance
)


rf.fit(X_train, y_train)


y_pred_rf = rf.predict(X_test)
y_proba_rf = rf.predict_proba(X_test)[:,1]

In [31]:
cm_rf = confusion_matrix(y_test, y_pred_rf)
print("Confusion Matrix:\n", cm_rf)

Confusion Matrix:
 [[1044  659]
 [ 702 1595]]

In [32]:
cr_rf = classification_report(y_test, y_pred_rf)
print("\nClassification Report:\n", cr_rf)

Classification Report:
               precision    recall  f1-score   support

           0       0.60      0.61      0.61      1703
           1       0.71      0.69      0.70      2297

    accuracy                           0.66      4000
   macro avg       0.65      0.65      0.65      4000
weighted avg       0.66      0.66      0.66      4000

In [33]:
roc_auc_rf = roc_auc_score(y_test, y_proba_rf)
print("\nROC-AUC:", roc_auc_rf)

ROC-AUC: 0.7084698543454904

In [34]:
pip install xgboost

Collecting xgboost
  Using cached xgboost-3.2.0-py3-none-manylinux_2_28_x86_64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in ./anaconda3/envs/clinical_ml/lib/python3.10/site-packages (from xgboost) (2.2.6)
Collecting nvidia-nccl-cu12 (from xgboost)
  Using cached nvidia_nccl_cu12-2.29.3-py3-none-manylinux_2_18_x86_64.whl.metadata (2.1 kB)
Requirement already satisfied: scipy in ./anaconda3/envs/clinical_ml/lib/python3.10/site-packages (from xgboost) (1.15.3)
Using cached xgboost-3.2.0-py3-none-manylinux_2_28_x86_64.whl (131.7 MB)
Using cached nvidia_nccl_cu12-2.29.3-py3-none-manylinux_2_18_x86_64.whl (289.8 MB)
Installing collected packages: nvidia-nccl-cu12, xgboost
    2/2 [xgboost] 1/2 [xgboost]
Successfully installed nvidia-nccl-cu12-2.29.3 xgboost-3.2.0
Note: you may need to restart the kernel to use updated packages.

In [35]:
import xgboost as xgb
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score

xgb_clf = xgb.XGBClassifier(
    n_estimators=300,
    max_depth=5,
    learning_rate=0.1,
    subsample=0.8,
    colsample_bytree=0.8,
    random_state=42,
    use_label_encoder=False,
    eval_metric='logloss'
)


xgb_clf.fit(X_train, y_train)


y_pred_xgb = xgb_clf.predict(X_test)
y_proba_xgb = xgb_clf.predict_proba(X_test)[:,1]

/home/alvi/anaconda3/envs/clinical_ml/lib/python3.10/site-packages/xgboost/training.py:200: UserWarning: [13:28:02] WARNING: /__w/xgboost/xgboost/src/learner.cc:782:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

In [36]:

cm_xgb = confusion_matrix(y_test, y_pred_xgb)
cr_xgb = classification_report(y_test, y_pred_xgb)
roc_auc_xgb = roc_auc_score(y_test, y_proba_xgb)

In [37]:
print("Confusion Matrix:\n", cm_xgb)
print("\nClassification Report:\n", cr_xgb)
print("\nROC-AUC:", roc_auc_xgb)

Confusion Matrix:
 [[ 881  822]
 [ 565 1732]]

Classification Report:
               precision    recall  f1-score   support

           0       0.61      0.52      0.56      1703
           1       0.68      0.75      0.71      2297

    accuracy                           0.65      4000
   macro avg       0.64      0.64      0.64      4000
weighted avg       0.65      0.65      0.65      4000


ROC-AUC: 0.6898492276300038